.list-main {
  margin-bottom: 100px;
}
img {
  max-height: 300px;
  width: 100%;
}
.list-card {
  padding: 2rem;
  background-color: #f39b9c;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  margin: 10px;
  color: white;
  height: auto;
}
.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}
.list-card-content p {
  overflow: auto;
  height: 110px;
  font-size: 1rem;
}
.list-card-content h2 {
  font-size: 1.3rem;
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

@media (min-width: 961px) {
  .list-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 460px) and (max-width: 960px) {
  .list-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
